*{
	vertical-align:top;	
}
.add_form{
	display:inline-block;	
}
.add_form_ta{
	text-align:center;
	height:22px;
	
	padding:auto;
	resize:none;
	width:150px;
	font-size:17px;
	padding-top:5px;
	
}
body{
	/*
	background-color:rgb(130,198,254);
	*/
}
.border{
	border-style:solid;
	border-color:black;
	border-width:1px;
}
button{
	display:inline-block;
	font-size:14px;
	width:60px;
}
.cal_box_date_data{
	display:none;
}
.center{
	text-align:center;
}
.checkbox{
	height:14px;
	background-color:yellow;
	margin:0px;	
	display:block;
	position:absolute;
	margin-left:1px;
}
#checkbox_ribbon{
	width:18px;
	overflow:hidden;
	display:inline-block;
	text-align:center;
	margin:0px;
	background-color:rgb(240,244,250);
}
#date_list_box{

}
.date_list_date{
	width:160px;
	
	margin:0px;
	height:18px;
}
.date_list_date:hover{
	cursor:pointer;
	background-color:rgba(124,235,110,.2);
}
.date_list_date_inner{
	width:130px;
}
#dogcal_popup{
	display:none;
	z-index:100;
}
.dummy_text{
	display:none;
	resize:none;
	height:14px;
	margin:0px;
	border-width:0px;
	padding:0px;
	width:50px;
	display:block;	
}
.importance_toggle{
	height:14px;
	width:14px;
	background-color:yellow;
	display:inline-block;	
}
.important{
	background-color:red;
}
.inline-block{
	display:inline-block;
}
.names_list_name{
	height:20px;
	width:200px;
	padding-left:5px;
	margin-left:100px;
}
.names_list_name:hover{
	cursor:pointer;
	background-color:rgb(216,257,189);
}
#new_note{
	resize:both;
}
#note_added_msg{
	display:none;
}
.note_expanded{
	width:500px		!important;
	height:600px	!important;
}
#note_expander{
	border-right:	11px solid rgb(200,200,200);
	border-top:		11px solid transparent;
	border-bottom:	5px solid rgb(200,200,200);
	border-left: 	5px solid transparent;
	display:		inline-block;
	cursor:			pointer;
	position:		absolute;
	margin-left:	-16px;
}
#note_inner{	
	margin:0px;
	padding:0px;
	display:inline-block;
	overflow:hidden;
}
#note_lines{	
	resize:none;
	height:14px;
	
	display:block;
	margin:0px;
	border-width:0px;
	padding:0px;
	width:50px;
	margin-left:-2px;
	position:absolute;
}
#note_lines_box{
	display:inline-block;
	margin:0px;
}
#note_outer{
	height:140px;
	width:200px;
	display:inline-block;
	border-width:1px;
	margin:0px;
	vertical-align:top;
	overflow:hidden;	
}
#scratchpad{
	width:200px;
	height:140px;
	display:inline-block;
	background-image:url(/ref/scratchpad_background.png);
	background-repeat:no-repeat;
	background-position:center;
	vertical-align:top;
	margin:0px;
	
	
}
#scratchpad_outer{
	margin:0px;
	padding:0px;
	border:0px;
}
textarea{
	
	border-width:1px;
}